<div class="pb-2 mt-4 mb-2 border-bottom">
  <div class="row">
    <div class="col-sm-6">
        <h3>Detalle de la imagen</h3>
    </div>
    <div class="col-sm-6">
      <div align="right">
        <%= link_to 'Atras',images_path %>
      </div>
    </div>
  </div>
</div>
<br />

<p><strong>Thumbnail: <%= image_tag(@image.picture.thumb.url, alt: 'Picture') %> </p>
<p><strong>Small: <%= image_tag(@image.picture.small.url, alt: 'Picture') %> </p>
<p><strong>Original: <%= image_tag(@image.picture.large.url, alt: 'Picture') %> </p>
